body {

}

h1 {
    color: navy;
    margin-left: 20px;
}

.altmetric-embed {
    float: left;
    margin-bottom: 50px;
    margin-right: 10px;
}

select {
  margin-bottom: 25px;
}

.link {
  display:inline-block;
}

.modal {
    display:    none;
    position:   fixed;
    z-index:    1000;
    top:        0;
    left:       0;
    height:     100%;
    width:      100%;
    background: rgba( 255, 255, 255, 0)
                url('ajax-loader.gif') /*https://altmetricsconf.files.wordpress.com/2014/09/giphy.gif?w=242&h=300*/

                50% 50%
                no-repeat;
}

// Prevent scrolling
body.loading {
    overflow: hidden;
}

body.loading .modal {
    display: block;
}
